.footer-email-input::placeholder {
  color: #ffffff !important;
}
.footer-title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 3%;
}
@media (max-width: 768px) {
  .footer-column {
    order: 1;
  }
}
.footer-nav {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  gap: 15px;
}
@media (max-width: 768px) {
  .footer-nav {
    gap: 25px;
  }
}
.footer-phone {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  display: flex;
  gap: 15px;
}
.footer-address {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.footer-container {
  padding: 5%;
  border-top: 1px solid #ffffff4d;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .footer-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.footer-subscribe-text {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer-subscribe-text {
    font-size: 16px;
  }
}
.footer-subscribe-box {
  display: flex;
  gap: 20px;
}
.footer-email-input {
  flex: 1;
  width: 300px;
  height: 50px;
  border-radius: 24px;
  border: 0.8px solid white;
  color: white;
  background-color: #1b1c46;
}

/* :where(.css-dev-only-do-not-override-cdzvx5).ant-input-outlined:hover {
  border-color: #ffffff;
  background-color: #1b1c46;
} */
.footer-email-input:hover {
  background-color: #1b1c46;
  border-color: #ffffff;
}

.footer-email-input:focus {
  background-color: #1b1c46;
  border-color: #ffffff;
}
.footer-arrow-icon {
  font-size: 20px;
  color: #7453af !important;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer-section {
    order: 2;
    margin-top: 10%;
  }
}
.footer-section {
  width: 30%;
}
.footer-icon {
  width: 30px;
  height: 30px;
  color: #ffffff !important;
}
@media (max-width: 768px) {
  .footer-icon {
    width: 20px;
    height: 20px;
  }
}
.footer-address-text {
  width: 70%;
  line-height: 32px;
}
@media (max-width: 768px) {
  .footer-address-text {
    width: 300%;
  }
}
.phone-icon {
  width: 20px;
  height: 20px;
}
.footer-bottom {
  background-color: #ffffff0f;
  padding: 1% 0%;
}
@media (max-width: 768px) {
  .footer-bottom {
    padding: 3% 0%;
  }
}

.footer-copyright {
  font-size: 14;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}
.footer-content-dropdown {
  display: none;
  flex-direction: column;
  gap: 12px;
}
.footer-content-dropdown.active {
  display: flex;
  margin-top: 0;
}
.footer-toggle-icon {
  color: #ffffff;
  font-size: xx-large;
}
