@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #020331;
}
html,
body {
  background-color: #020331 !important;
}

.header {
  /* position: sticky;
  top: 0;
  z-index: 1; */
  background-color: #020331 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  width: 100%;
}
.header-logo img {
  width: 160px;
  height: 60px;
}
.header-nav {
  display: flex;
  gap: 50px;
}
.nav-link {
  text-decoration: none !important;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none !important;
}
