.uiux-image img {
  width: 514px;
  height: 566px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .uiux-image img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }
}
.uiux-brand-container {
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0% 5% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .uiux-brand-container {
    margin: 0%;
    border-radius: 0;
  }
}
.uiux-container {
  background-color: #ffffff0a;
  margin: 14% 0%;
  padding: 8% 5%;
}
.uiux-services-content {
  display: flex;
  gap: 30px;
  margin: 5%;
}
@media (max-width: 768px) {
  .uiux-services-content {
    flex-direction: column;
  }
}
.bizcraft-image {
  width: 480px;
  height: 608px;
}
@media (max-width: 768px) {
  .bizcraft-image {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  flex: 1;
}
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}
.custom-card {
  background-color: #ffffff14 !important;
  border-radius: 16px !important;
  width: 100%;
  height: 260px;
  border: none !important;
}
@media (max-width: 768px) {
  .custom-card {
    height: fit-content;
  }
}
.card-icon {
  width: 60px;
  height: 60px;
  margin-top: -20%;
}
.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff !important;
  width: 70%;
  text-align: start;
  padding-bottom: 5%;
}
@media (max-width: 768px) {
  .card-title {
    font-size: 18px;
    width: 100%;
  }
}
.card-description {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  opacity: 80%;
  text-transform: capitalize;
  line-height: 25px;
}
@media (max-width: 768px) {
  .card-description {
    font-size: 14px;
    width: 100%;
  }
}
.uiux-card-container {
  display: flex;
  gap: 60px;
  margin-top: 5%;
}
@media (max-width: 768px) {
  .uiux-card-container {
    flex-direction: column;
    margin-top: 10%;
  }
}
.uiux-card {
  background-color: #ffffff14 !important;
  border-radius: 16px !important;
  width: 80%;
  /* height: 260px; */
  border-style: none;
}
@media (max-width: 768px) {
  .uiux-card {
    width: 100%;
  }
}
/* Timeline.css */
.timeline-container {
  color: white;
  margin: 5% 0%;
}

.timeline-title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 10%;
  text-align: center;
}

.timeline-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timeline-line {
  position: absolute;
  top: 50%;
  width: 80%;
  height: 5px;
  background-color: #7453af;
  z-index: 1;
  border-radius: 20px;
}

.timeline-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  position: relative;
  z-index: 2;
  gap: 50px;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  position: relative;
  margin: 50px 30px;
}

/* Positioning for Top Items */
.timeline-item.top {
  transform: translateY(-80px);
}

/* Positioning for Bottom Items */
.timeline-item.bottom {
  transform: translateY(80px);
}

/* Connector Lines */
.timeline-connector {
  width: 3px;
  height: 105px;
  background-color: gray;
  position: absolute;
  top: 100%;
}

/* Adjust connector for bottom items */
.timeline-item.bottom .timeline-connector {
  top: -100px;
}

.timeline-content {
  background-color: #ffffff14 !important;
  border-radius: 16px !important;
  width: 382px !important;
  height: 230px;
  border: none !important;
  margin: 10%;
}
.timeline-p {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  /* width: 70%; */
  text-align: start;
  /* padding-bottom: 5%; */
  /* margin: 0; */
}

.timeline-description {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  opacity: 80%;
  text-transform: capitalize;
  line-height: 25px;
}
/* .timeline-circle {
  width: 16px;
  height: 16px;
  background-color: #7d7d7d;
  border-radius: 50%;
  border: 1px solid #ffffff8f;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.circle {
  background-color: #7453af;
  border-radius: 50%;
  border: 1px solid #ffffff8f;
  position: relative;
  z-index: 2;
  width: 5px;
  height: 5px;
}
.timeline-circle {
  width: 16px;
  height: 16px;
  background-color: #7d7d7d;
  border-radius: 50%;
  border: 1px solid #ffffff8f;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-circle {
  position: relative;
  top: 290px;
}

.bottom-circle {
  position: relative;
  bottom: 290px;
}
